/* Tour page styles */

table {
  font-family: 'Open Sans', sans-serif;
  margin: 10px;
  float: right;
}

footer {
	position:  fixed;
	bottom:  0%;
	left:  10%;
	padding:  0;
	margin:  0 auto;
}

.flex {
  float: right;
}

.heading {
  margin: 0px -300px;
  position: absolute;
}

.pick{
  width: 40px;
  height: 0%;
  padding: 10px;
}

th, td {
	padding: 0 0 0 50px;
}